/* headerStyle.css */

/* Stili generali per il body e il layout */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu a:hover {
    color: #ddd;
}

.contactButton {
    background-color: #d2b48c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contactButton:hover {
    background-color: #ff1f2d;
}

/* Hamburger menu */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}

/* Responsività */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 200px;
    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .menu a {
        padding: 15px;
        border-bottom: 1px solid #444;
    }

    .menu-toggle {
        display: block;
        color: black;
    }

    /* Qui utilizziamo .menu.show invece di #menu.show */
    .menu.show {
        display: block;
        position: absolute;
        top: 60px;  /* Alza il menu sotto l'header */
        right: 0;
        background-color: 	#d2b48c;
        width: 100%;
        padding: 10px;
    }
}
