body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenitore del form */
.loginForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Per allineare i componenti uno sopra l'altro */
    justify-content: center; /* Assicura che gli elementi siano centrati verticalmente */
}

/* Allineamento del titolo */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Etichette */
label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

/* Campi input */
input {
    width: 90%; /* Imposta una larghezza relativa per lasciare spazio ai lati */
    max-width: 300px; /* Imposta una larghezza massima per evitare che sia troppo grande su schermi larghi */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Pulsante di login */
button {
    padding: 10px 20px; /* Modificato il padding per rendere il pulsante più stretto */
    background-color: #d2b48c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    width: auto; /* La larghezza viene adattata al contenuto */
    margin-top: 15px; /* Aggiungi un margine sopra per distanziare dal campo password */
}

button:hover {
    background-color: #c19a6b;
}


/* Messaggio di errore */
p {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Stile del pulsante Registrati */
.registratiButton {
    background-color: #4CAF50; /* Colore verde */
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: auto;
    margin-top: 15px;
}

/* Hover del pulsante Registrati */
.registratiButton:hover {
    background-color: #45a049; /* Colore verde scuro per l'hover */
}

/* Centra il link di registrazione */
.registerLink {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

/* Gestione della responsività */
@media (max-width: 768px) {
    .loginForm {
        padding: 15px; /* Riduce la padding sui dispositivi mobili */
    }
    
    input[type="text"], input[type="password"], button {
        width: 100%; /* Assicura che i campi si adattino completamente alla larghezza */
    }
}
